pre code{
  font-size: 14px;
}

p{
  font-size: 16px;
}

h3{
  color: #333333
}

.navbar{
  padding-left: 246px;
  padding-right: 246px;
  background: #99CC99;
  z-index:100;
  width:100%
}

.navbar-default .navbar-brand{
  color:#FFFFFF;
#  font-family: "微软雅黑";
  font-size:24px
}


.navbar-default .navbar-nav>li>a{
  color:#FFFFFF;
#  font-family: "微软雅黑";
  font-size:18px
}
